# Terraform sensitive and temporary files
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# SSH keys (NEVER push private keys!)
my-key
my-key.pem
*.pem

# Log files or temp files
*.log
*.bak
*.tmp
